.button {
  font: inherit;
  cursor: pointer;
  text-decoration: none;
}

.button:focus {
  outline: none;
}


Link, a{
  text-decoration: none;
  color: #DB3022;
}
.button--inverse:hover,
.button--inverse:active {
  color: white;
  background: #ff0055;
}

.button--submit {
  background-color: #DB3022;
    width: 100%;
    outline: none;
    padding: 16px 0;
    font-size: 14px;
    line-height: 20px;
    color: #fff;
    border: none;
    border-radius: 25px;
    margin-bottom: 40px;
    cursor: pointer;
}

.button--danger:hover,
.button--danger:active {
  background: #f34343;
  border-color: #f34343;
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
  background: #ccc;
  color: #979797;
  border-color: #ccc;
  cursor: not-allowed;
}

.button--small {
  font-size: 0.8rem;
}

.button--big {
  font-size: 1.5rem;
}

.button--primary {
  background: #DB3022;
  border-color: #DB3022;
}

.button--secondary {
  color: #9B9B9B;
  border: 1px solid #9B9B9B;
}


.button-delete {
  border: 1px solid #D4D4D4;
  border-radius: 24px;
}

.btn-product-save {
  margin-top: 2rem;
  margin-right: 12rem;
  padding: 8px 25px;
  background: #DB3022;
  border-radius: 25px;
  color: #fff;
  border: unset;
}

@media screen and (max-width: 670px) {
  .btn-product-save {
    margin-right: 0.5rem;
  }
} 