.card-as-seller {
  background: #FFFFFF;
  width: 85%;
  padding: 10px 20px;
}


.data .type-data {
  font-size: 14px;
  line-height: 24px;
  color: #9B9B9B;
}

.toggle-profile {
  border-bottom: 1px solid #D4D4D4;;
}

.data thead th {
  padding: 10px;
  background: #F7F7F7;
}

.icon-search-profile {
position: absolute;
left:2%;
top: 30%;
}
form.search-profile{
  position: relative;
}

#search-product {
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  border-radius: 23px;
  padding: 8px 0;
  padding-left: 40px;
  padding-right: 20px;
}

table,th {
  border:none;
}

table {
  border: 1px solid #D4D4D4;
  box-sizing: border-box;
  border-radius: 4px;
}

.text-center p{
  padding-bottom: 90px;
}

.image-seller-product {
  width: 120px;
  height: 120px;
}

.image-seller-product img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.custom-btn-pagination {
  font-size: 0px;
  padding: 12px;
  border-radius: 25px;
  width: fit-content;
  border: none;
}

.custom-page-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-btn-pagination-middle {
  border: none;
  background-color: transparent;
}

.custom-btn-pagination span {
  font-size: 12px;
}
.data-not-found {
  padding: 50px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .card-as-seller {
    background: #FFFFFF;
    width: 100%;
  }
  label.col-sm-3.col-form-label.text-black-50 {
    text-align: unset
  }
  .text-center.text-name-product.align-middle{
    font-size: 16px;
    line-height: 24px;
    /* background-color: #000000; */
    display: inline-block;
    word-wrap: break-word;
    overflow: hidden;
    display: -webkit-box;
      text-overflow: ellipsis;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
  }
}