html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  /* margin: 0; */
  /* padding: 0 ; */
  font-family: 'MetropolisRegular';
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
}

input[type='search'] {
  outline-offset: unset !important;
  outline: unset;
}
.form-control:focus {
  border-color: unset !important;
  box-shadow: unset !important;
}

button[disabled],
button[disabled]:hover,
button:disabled,
button:disabled:hover {
  background: #eee !important;
  color: #aaa !important;
  border-color: #aaa !important;
  cursor: default !important;
  text-shadow: none !important;
  position: static !important;
  box-shadow: none !important;
}
/*
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


} */
*,
*:before,
*:after {
  box-sizing: border-box;
}
