.custom-select select {
  background-color: #FFFFFF;
  border: 1px solid #9B9B9B;
  box-sizing: border-box;
  border-radius: 4px;
  padding: 10px 12px 10px 12px;
  max-width: 100px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #9B9B9B; 
  margin-right: 10px;
}

.date-of-birth {
  display: flex;
}

/* .pick-gender {
  width: 18px;
  height: 18px;
  border: 1px solid #9B9B9B;
  margin-right: 10px;
} */